
@{
    ViewBag.Title = "Index";
}
<div class="well well-sm">新品上架</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
            <div class="panel-footer">
                <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                <div class="panelFooterPrice">NT$590</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
            <div class="panel-footer">
                <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                <div class="panelFooterPrice">NT$590</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
            <div class="panel-footer">
                <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                <div class="panelFooterPrice">NT$590</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
            <div class="panel-footer">
                <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                <div class="panelFooterPrice">NT$590</div>
            </div>
        </div>
    </div>
</div>
<hr>

