
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<h2>MemberIndex</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">會員註冊</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="usr">姓名:</label>
                        <input type="text" class="form-control input-sm" id="UserName">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">手機:</label>
                        <input type="text" class="form-control input-sm" id="UserTel">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">電子信箱:</label>
                        <input type="email" class="form-control input-sm" id="UserEmail">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">地址:</label>
                        <input type="text" class="form-control input-sm" id="UserAdd">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">密碼:</label>
                        <input type="password" class="form-control input-sm" id="UserPwd">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">確認密碼:</label>
                        <input type="password" class="form-control input-sm" id="CheckUserPwd">
                        <span class="help-block">This is some help text that breaks</span>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success btn-lg center-block">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>

