<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/CSS/index.css" type="text/css" />
    <script type="text/javascript" src="~/JS/index.js"></script>
    <head>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">寵愛生活</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="category.html">寵物部落</a></li>
                        <li><a href="category.html">寵物直播</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">寵物食品<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="category.html">狗飼料</a></li>
                                <li><a href="category.html">貓飼料</a></li>
                                <li><a href="category.html">其他飼料</a></li>
                            </ul>
                        </li>
                        <li><a href="category.html">寵物醫院</a></li>
                        <li><a href="category.html">尋寵啟示</a></li>
                        <li><a href="category.html">動物認養</a></li>
                        <li><a href="category.html">友站連結</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="Member"><span class="glyphicon glyphicon-user"></span> 會員登入</a></li>
                        <li><a href="shoppingCart.html"><span class="glyphicon glyphicon-shopping-cart" id="ShoppCart"></span> 購物車(0)</a></li>
                    </ul>
                </div>
            </nav>
            <hr>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>會員登入</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="form-group">
                                <label for="usrname"><span class="glyphicon glyphicon-user"></span> 帳號</label>
                                <input type="text" class="form-control" id="usrname" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> 密碼</label>
                                <input type="text" class="form-control" id="psw" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-success btn-block"> 登入</button>
                            <button type="button" id="SignUpBtn" class="btn btn-primary btn-block"> 註冊</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>