
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">分類搜尋</a>
                <a href="#" class="list-group-item">幼犬</a>
                <a href="#" class="list-group-item">成犬</a>
                <a href="#" class="list-group-item">老犬</a>
                <a href="#" class="list-group-item">無穀飼料</a>
                <a href="#" class="list-group-item">處方飼料</a>
                <a href="#" class="list-group-item">小顆粒飼料</a>
                <a href="#" class="list-group-item active">飼料品牌區</a>
                <a href="#" class="list-group-item">Mobby莫比</a>
                <a href="#" class="list-group-item">PROPLAN冠能</a>
                <a href="#" class="list-group-item">Westin偉斯汀</a>
                <a href="#" class="list-group-item">blackwood柏萊富</a>
                <a href="#" class="list-group-item">Wellness寵物健康</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
                    <div class="panel-footer">
                        <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                        <div class="panelFooterPrice">NT$590</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
                    <div class="panel-footer">
                        <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                        <div class="panelFooterPrice">NT$590</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body"><a href="productDetail.html"><img src="https://a.ecimg.tw/items/QFAW3KA900805JC/000001_1490847053.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
                    <div class="panel-footer">
                        <div class="panelFooterTitle">優格-零穀成犬體重管理配方15LB</div>
                        <div class="panelFooterPrice">NT$590</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
