
@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="container">
    <img src="http://www.sofydog.com/upload_files/fonlego-rwd/website/A21.jpg" class="img-responsive"></img>
    <hr>
</div>
<div class="container productDetailContainer">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-sm-5">
                    <img src="https://a.ecimg.tw/items/QFAW3KA90083H6V/000001_1494060703.jpg" class="img-responsive"></img>
                </div>
                <div class="col-sm-7">
                    <div class="productDetailText">
                        <h3>優格-零穀成犬體重管理配方15LB</h3>
                        <hr>
                        <p>
                            極致零穀配方：不含榖物，以高品質豌豆、鷹嘴豆、馬鈴薯作為低過敏性的碳水化合物來源。純天然不含人工香料、色素與防腐劑。
                            <br /> 優質蛋白質：特選雞肉、鮭魚、火雞肉，是優質的動物性蛋白質，更是Omega3的來源，營養完整且容易消化。
                            <br /> 鮮採5種蔬果：甜菜根、蕃茄、馬鈴薯、豌豆與菊苣根提供豐富且天然的維生素、礦物質與抗氧化物，增強免疫力。
                            <br />
                        </p>
                    </div>
                    <form class="form-inline">
                        <div class="productDetailPrice pull-left">$290</div>
                        <div class="pull-right">
                            <div class="form-group">
                                <label for="sel1">數量:</label>
                                <select class="form-control" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-danger">加入購物車</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>